@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@1,300&display=swap');

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
